/* Медиа-запрос для iPhone 8 (ширина экрана 390px) */
@media (max-width: 390px) {
    
    h1, h2, p, a{
        font-family: Ubuntu;
        
    }
    body {
        margin: 0;
        padding: 0;
        
    }
   
    
    
    .block_slider_1, .block_slider_2, .block_slider_3{
        /* height:  50vh; */
    }
    .background{
        width: 100%;
        height: 100vh;
    }
    .background img{
        width: 100%;
    }
    .img_slider{
        margin-top: -30vh;
    }
    .color_background-green{
        position: absolute;
        margin: 0;
        width: 100%;
        background-color: #0D5E3C;
    }
    .color_background-blue{
        position: absolute;
        margin: 0;
        width: 100%;
        background-color: #173673;
    }
    .color_background-purple{
        position: absolute;
        margin: 0;
        width: 100%;
        background-color: #630773;
    }


    .poster{
        width: 100%;
    }

    .poster_info{
        position: absolute;
        padding: 4vh;
        top: 0;
        display: flex;
        align-items: center;
    }
    .poster-text{
        display: flex;
        gap: 1vh;
        justify-content: center;
    }
    .poster-text img{
        width: 4vh;
    }
    .light-text-white{
        font-weight: 100;
        color: white;
        font-size: 2.5vh;
    }
    .clear-text-green{
        color: #0ED984;
        font-weight: 500;
        font-size: 2.5vh;
    }
    .clear-text-blue{
        color: #3577F6;
        font-weight: 500;
        font-size: 2.5vh;
    }
    .clear-text-purple{
        color: #D72DF3;
        font-weight: 500;
        font-size: 2.5vh;
    }
    .poster-desc{
        margin-top: 13vh;
    }
    
    .class_name-green p{
        color: #0ED984;
        font-weight: 500;
        font-size: 2.5vh;
        margin-bottom: 8vh;
        border-bottom: 0.3vh solid #0ED984;
        display: inline-block;
    }
    .class_name-blue p{
        color: #3577F6;
        font-weight: 500;
        font-size: 2.5vh;
        margin-bottom: 8vh;
        border-bottom: 0.3vh solid #3577F6;
        display: inline-block;
    }
    .class_name-purple p{
        color: #D72DF3;
        font-weight: 500;
        font-size: 2.5vh;
        margin-bottom: 8vh;
        border-bottom: 0.3vh solid #D72DF3;
        display: inline-block;
    }
    .description-title p{
        color: white;
        font-size: 5vh;
        font-weight: 500;
    }
    .description-title {
        margin-top: -10vh;
    }
    .description-text p{
        color: white;
        font-size: 3vh;
        font-weight: 100;
        line-height: 1.4;
    }
    .description-text{
        margin-top: -3vh;
        height: 17vh;
    }
    .nav-panel{
        margin-top: 26vh;
        display: flex;
        align-items: center;
        gap: 2vh;
    }
    .nav-panel-image img{
        width: 4vh;
    }
    
    .circle-button-blue:hover{
        border: 0.4vh solid #3577F6;
    }
    .circle-button-purple:hover{
        border: 0.4vh solid #D72DF3;
    }
    .circle-button-green, .circle-button-blue , .circle-button-purple {
        width: 3vh;
        height: 3vh;
        border: 0.4vh solid #ffffff;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6vh;
        transition: 0.5s ease;
    }
    .circle-button-green:hover{
        border: 0.4vh solid #0ED984;
    }
    
    .button-about-green button, .button-about-blue button, .button-about-purple button {
        width: 30vh;
        height: 10vh;
        background-color: transparent;
        color: white;
        font-size: 3.1vh; 
        border: 0.3vh dashed white;
        border-radius: 0.5vh;
        cursor: pointer;
        outline: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Ubuntu;
        font-weight: 400;
        transition: 0.5s ease;
    }
    .button-about-purple button:hover {
        background-color: rgba(255, 255, 255);
        color: #D72DF3;
        font-weight: 500;
    }
    .button-about-blue button:hover {
        background-color: rgba(255, 255, 255);
        color: #3577F6;
        font-weight: 500;
    }
    
    .button-about-green button:hover {
        background-color: rgba(255, 255, 255);
        color: #0ED984;
        font-weight: 500;
    }
    
    .button-about-block{
        position: absolute;
        margin-top: 82%;
        margin-left: 0vh;
        
    }
    .nav-buttons {
        display: none;
    }
    
    .nav-button-left,
    .nav-button-right {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        cursor: pointer;
        transition: 0.5s ease;
    }
    
    .nav-button-left::before {
        content: '';
        border: solid rgba(255, 255, 255, 0.39);
        border-width: 0 0.4vh 0.4vh 0;
        display: inline-block;
        padding: 2vh;
        transform: rotate(135deg);
    }
    
    .nav-button-right::before {
        content: '';
        border: solid rgba(255, 255, 255, 0.39);
        border-width: 0 0.4vh 0.4vh 0;
        display: inline-block;
        padding: 2vh;
        transform: rotate(-45deg);
    }
    
    .nav-button-left:hover,
    .nav-button-right:hover {
        background-color: #68686871;
    }
    
    
    .block_slider_1, .block_slider_2, .block_slider_3 {
        display: none;
    }
    
    .active-slide {
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    
    .block-slogan{
        display: flex;
        height: 70vh;
        width: 100%;
        align-items: center;
        margin-top: 26vh;
    }
    .slogans{
        display: flex;
        padding: 2vh;
        flex-direction: column;
    }
    .slogan{
        width: 100%;
        padding-top: 3vh;
    }
    .slogan img{
        width: 7vh;
    }
    
    .slogan-text{
        font-family: Ubuntu;
        font-size: 4vh;
        font-weight: 500;
        line-height: 0.1;
    }
    .slogan-text-green{
        color: #0ED984;
    }
    .slogan-text-blue{
        color: #3577F6;
    }
    .slogan-text-purple{
        color: #D72DF3;
    }
    .slogan-desc{
        width: 100%;
    }
    .slogan-desc p{
        font-size: 2.5vh;
        color: #615D5D;
    }
    .slogans hr{
        opacity: 0.2;
        width: 100%;
    }
    .block-forma{
        background-color: #F3F3F3;
        height: 100vh;
        margin-top: 26vh;
    }
    .block-forma-padd{
        display: flex;
        padding: 4vh;
        align-items: flex-end;
        gap: 0vh;
        flex-direction: column;
    }
    .block-forma-title{ 
        width: 100%;
        margin-top: 8vh;
    }
    .block-forma-title h1{
        font-size: 5vh;
        font-weight: 500;
    }
    .block-forma-title p{
        color: #615D5D;
        font-size: 2.5vh;
    }
    .forma form{
        display: flex;
        gap: 5vh;
        margin-bottom: 5vh;
        flex-direction: column;
    }
    .forma form input{
        width: 44vh;
        height: 7vh;
        border: none;
        list-style: none;
        padding: 1vh;
        font-family: Ubuntu;
        font-size: 2.4vh;
        font-weight: 400;
        padding-left: 2vh;
    }
    .forma form input:focus{
        outline: none;
    }
    
    .forma form input::placeholder{
        color: rgb(194, 194, 194);
        transition: color 0.3s ease;
    }
    .forma form input:hover::placeholder{
        color: rgb(35, 35, 35);
    }
    .forma span {
        display: flex;
        align-items: center;
        gap: 2vh;
        flex-direction: row;
        color: #615D5D;
    }
    .forma a {
        color: #615D5D;
    }
    .form-opis p {
        text-align: center;
    }
    .forma form button{
        width: 47vh;
        height: 10vh;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #138F5B;
        font-size: 2.5vh;
        font-family: Ubuntu;
        font-weight: 500;
        color: white;
        transition: background-color 0.3s ease;
    
    }
    .forma form button:hover{
        background-color: #04643C;
    }
    
    footer{
        background-color: #1D1A1A;
    }
    .footer-poster{
        padding-left: 0vh;
    }
}
