<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home_page.css">
    <link rel="stylesheet" href="../static/css/adaptivka.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/slider.js"></script>
    <title>Главная страница</title>
</head>
<body>
    <div class="slider">
        <div class="block_slider_1" >
            <div class="background">

                <img 
                srcset="
                ../static/images/Back1-phone.png 400w,
                ../static/images/Back1.png 600w
                " 
                sizes="(max-width: 400px) 200px, 600px" 
                src="../static/images/Back1.png" 
                alt="" 
                class="img_slider">

                <div class="color_background-green">
                    <img src="../static/images/background2.png" alt="img_background">
                </div>

            </div>
            <div class="poster_info">
                <div class="poster">
                    <div class="poster-text">
                        <p class="light-text-white">учимся</p>
                        <img src="../static/images/poster.svg" alt="">
                        <p class="clear-text-green">Онлайн</p>
                    </div>

                    <div class="poster-desc">
                        <div class="class_name-green">
                            <p>Новички</p>     
                        </div>
                        <div class="description-title">
                            <p>Сделайте шаг <br>
                                к новой профессии</p>
                        </div>
                        <div class="description-text">
                            <p>Курсы, которые помогут освоить востребованную профессию <br>
                                с нуля или изучить новую специализацию</p>
                        </div>
                        <div class="nav-panel">
                            <div class="nav-panel-image">                       
                                <img src="../static/images/nav-icon-green.svg" alt="">
                            </div>
                            <button class="circle-button-green btn-blue"></button>
                            <button class="circle-button-green btn-purple"></button>
                        </div>
                    </div>
                </div>
                <div class="button-about-block">
                    <div class="button-about-green">
                        <button>Подробнее</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="block_slider_2">
            <div class="background">
                <img 
                srcset="
                ../static/images/Back2-phone.png 400w,
                ../static/images/Back2.png 600w
                " 
                sizes="(max-width: 400px) 200px, 600px" 
                src="../static/images/Back2.png" 
                alt="" 
                class="img_slider">
                <div class="color_background-blue">
                    <img src="../static/images/background2.png" alt="img_background">
                </div>

            </div>
            <div class="poster_info">
                <div class="poster">
                    <div class="poster-text">
                        <p class="light-text-white">учимся</p>
                        <img src="../static/images/poster.svg" alt="">
                        <p class="clear-text-blue">Онлайн</p>
                    </div>

                    <div class="poster-desc">
                        <div class="class_name-blue">
                            <p>Специалисты</p>     
                        </div>
                        <div class="description-title">
                            <p>Сделайте шаг <br>
                                к росту карьеры</p>
                        </div>
                        <div class="description-text">
                            <p>Курсы для специалистов с опытом, чтобы развиваться <br>
                                в профессии и открывать новые возможности в карьере</p>
                        </div>
                        <div class="nav-panel">
                            <button class="circle-button-blue btn-green"></button>
                            <div class="nav-panel-image">                       
                                <img src="../static/images/nav-icon-blue.svg" alt="">
                            </div>
                            <button class="circle-button-blue btn-purple"></button>
                        </div>
                    </div>
                </div>
                <div class="button-about-block">
                    <div class="button-about-blue">
                        <button>Подробнее</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="block_slider_3">
            <div class="background">
                <img 
                srcset="
                ../static/images/Back3-phone.png 400w,
                ../static/images/Back3.png 600w
                " 
                sizes="(max-width: 400px) 200px, 600px" 
                src="../static/images/Back3.png" 
                alt="" 
                class="img_slider">
                <div class="color_background-purple">
                    <img src="../static/images/background2.png" alt="img_background">
                </div>

            </div>
            <div class="poster_info">
                <div class="poster">
                    <div class="poster-text">
                        <p class="light-text-white">учимся</p>
                        <img src="../static/images/poster.svg" alt="">
                        <p class="clear-text-purple">Онлайн</p>
                    </div>

                    <div class="poster-desc">
                        <div class="class_name-purple">
                            <p>Руководители</p>     
                        </div>
                        <div class="description-title">
                            <p>Сделайте шаг <br>
                                к новым решениям</p>
                        </div>
                        <div class="description-text">
                            <p>Курсы для руководителей, чтобы развивать управленческие <br> навыки и растить бизнес</p>
                        </div>
                        <div class="nav-panel">
                            <button class="circle-button-purple btn-green"></button>
                            <button class="circle-button-purple  btn-blue"></button>
                            <div class="nav-panel-image">                       
                                <img src="../static/images/nav-icon-purple.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-about-block">
                    <div class="button-about-purple">
                        <button>Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-buttons">
                <div class="nav-button-left">
                    
                </div>
                <div class="nav-button-right">
                    
                </div>
        </div>
    </div>
    
    

    <div class="block-slogan">
        <div class="slogans">
            <div class="slogan block-1">
                <img src="../static/images/prof.svg" alt="">
                <span class="slogan-text">
                    <p>Получите</p>
                    <p class="slogan-text-green">профессию</p>
                </span>
                <div class="slogan-desc">
                    <p>Базовые курсы для изучения новой сферы
                        или профессии — с практикой и помощью
                        в трудоустройстве</p>
                </div>
            </div>
            <hr>
            <div class="slogan block-2">
                <img src="../static/images/rost.svg" alt="">
                <span class="slogan-text">
                    <p>Растите</p>
                    <p class="slogan-text-blue">в профессии</p>
                </span>
                <div class="slogan-desc">
                    <p>Курсы продвинутого уровня для тех, кто хочет усилить позиции в текущей профессии, вырасти
                        в доходе, изучить новые инструменты</p>
                </div>
            </div>
            <hr>
            <div class="slogan block-3">
                <img src="../static/images/cont.svg" alt="">
                <span class="slogan-text">
                    <p>Управляйте</p>
                    <p class="slogan-text-purple">эффективно</p>
                </span>
                <div class="slogan-desc">
                    <p>Курсы для руководителей, чтобы научиться эффективно решать сложные задачи
                        в управлении командой и бизнесом</p>
                </div>
            </div>
        </div>
    </div>

    <div class="block-forma">
        <div class="block-forma-padd">
            <div class="block-forma-title">
                <h1>Сделайте шаг <br>
                    к новой профессии</h1>
                <p>Расскажите нам
                    о своих целях и мы поможем выбрать подходящую программу.</p>
            </div>
            <div class="forma">
                 <form action="post">
                    <input type="text" placeholder="Вас зовут" maxlength="20">
                    <input type="text" id="phone" placeholder="+7 (___) ___-__-__" maxlength="18">
                    <button>Оставить заявку</button>
                </form>
                <div class="form-opis">
                    <p class="consent-text">Отправляя заявку, я соглашаюсь на обработку <a href="#">персональных данных</a></p>
                </div>
                
            </div>
           
        </div>
        
    </div>
</body>
<footer>
    <div class="poster-text footer-poster">
        <p class="light-text-white">учимся</p>
        <img src="../static/images/poster.svg" alt="">
        <p class="clear-text-green">Онлайн</p>
    </div>
</footer>
<script>
    document.getElementById("phone").addEventListener("input", function(e) {
        let x = e.target.value.replace(/\D/g, "").slice(0, 11);
        let formatted = "+7 (";
        if (x.length >= 1) formatted += x.slice(1, 4);
        if (x.length >= 4) formatted += ") " + x.slice(4, 7);
        if (x.length >= 7) formatted += "-" + x.slice(7, 9);
        if (x.length >= 9) formatted += "-" + x.slice(9, 11);
        e.target.value = formatted;
    });
    </script>
</html>
